spring:
  application:
    name: reajuste-back

  datasource:
    url: jdbc:mysql://localhost:3306/reajuste-db?useSSL=false&serverTimezone=America/Sao_Paulo
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true